# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/

# Go
/app
*.exe

# Data / Logs
*.log
events.jsonl
.parquet

# DB volumes
pgdata/

# Env / Secrets
.env

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
